body {
  background: url('chrome-extension://__MSG_@@extension_id__/docs/assets/black.png') !important;
  background-color: black;
  color: white;
}

div {
  background: url('chrome-extension://__MSG_@@extension_id__/docs/assets/black.png') !important;
  color: white;
}

 img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
