-webkit-animation: image-container 25s ease infinite;
-moz-animation: image-container 25s ease infinite;
animation: image-container 25s ease infinite;

@-webkit-keyframes image-container {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-moz-keyframes image-container {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes image-container {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
/*
div.image-container {
  background-color;
}*/
