
div.image-container {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
  background-size: 300% 300%;
  -webkit-animation: MoveBG 60s ease infinite;
  -moz-animation: MoveBG 60s ease infinite;
  -o-animation: MoveBG 60s ease infinite;
  animation: MoveBG 60s ease infinite;
}
